<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>

p {
  color: red;
  font-family: courier;
  font-size: 100%;
}


  table  {
    border: 5px solid rgb(255, 219, 17);
    border-collapse: collapse;
    width: 50%;
  }
  th, td {
    padding: 5px;
    border-collapse: collapse;
    width: 50%;
  }
  th {
    text-align: center;
  }
  div {
    border-radius:50px;
}
  


 
</style>
</head>
<body>



</body>

</html>